services: 
  frontendapp:
    image: zkspringbootfrontend:local
    container_name: frontend_zkSpringboot
    environment:
      - BACKEND_API_URL=http://backendapp:8080/api/external-post
      - SPRING_PROFILES_ACTIVE=dev
    volumes:
      - frontend_logs:/app/logs
    ports:
      - "8082:8080"
    networks:
      - shared_network
    restart: unless-stopped

volumes:
  frontend_logs:

networks:
  shared_network:
    external: true
